<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Logia - About</title>
        <meta name="description" content="Logia is a platform dedicated to
        connecting teens passionate about science to professionals in a variety of different science related fields.
        Our goal is to not only help educate teens on a variety of different advanced topics, but to also assist
        them in networking with professors, doctors, scientists, and more from prestigious institutions.">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" type="image/jpg" href="/img/favicon.png">
        <link rel="stylesheet" href="./css/general.css">
        <link rel="stylesheet" href="./css/about.css">
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        {{>subheader}}
        <div id="about-bar">
            <p id="intro-text">We are innovators, teachers, learners, and everything in between. We are <strong>Logia.</strong></p>
            <div id="icons">
                <div class="icon">
                    <img src="./img/fathima.png" alt="Fathima Shaikh">
                    <span class="name">Fathima Shaikh</span>
                    <span class="title">President/Founder</span>
                </div>
                <div class="icon">
                    <img src="./img/ritvik.JPG" alt="Ritvik Viniak">
                    <span class="name">Ritvik Viniak</span>
                    <span class="title">Vice President</span>
                </div>
                <div class="icon">
                    <img src="./img/bowen.png" alt="Bowen Cheng">
                    <span class="name">Bowen Cheng</span>
                    <span class="title">Co-Founder</span>
                </div>
                <div class="icon">
                    <img src="./img/lucas.jpg" alt="Lucas Wang">
                    <span class="name">Lucas Wang</span>
                    <span class="title">Website Developer</span>
                </div>
            </div>
        </div>
        <div class="image-block">
            <img src="./img/fathima.png" alt="Fathima Shaikh">
            <div class="block-text">
                <div class="introduction">
                    <span class="name">Fathima Shaikh</span>
                    <span class="title">President/Founder</span>
                </div>
                <p class="description">Centered in Chicago, Illinois, Fathima Shaikh is an avid runner,
                    writer, and science lover. Ever since she was a young girl, she has been fascinated 
                    by the complex system of the human body. Neurology and the science of the brain was 
                    something that intrigued her. Now that she is in high school, however, she has become 
                    captivated by the science of cancer and has begun learning about the biology of it. 
                    Wherever Fathima is not reading something up about science, you can often find her on 
                    her phone, running, or writing poems. She is excited to watch and assist in the growth 
                    of Logia and hopes to become an oncologist in the future.</p>
            </div>
        </div>
        <div class="image-block">
            <img src="./img/ritvik.JPG" alt="Ritvik Viniak">
            <div class="block-text">
                <div class="introduction">
                    <span class="name">Ritvik Viniak</span>
                    <span class="title">Vice President / Co-Founder</span>
                </div>
                <p class="description">Ritvik Viniak is a rising sophomore in Chicago. He enjoys playing 
                    sports, particularly running Cross Country and playing tennis. He also does Math Team,
                    Science Olympiad, and Future Problem Solvers as a part of school, as well as plays piano. 
                    His favorite food is potatoes, though he also enjoys eating dessert. In his free time, he 
                    loves to read Science Fiction and watch Sci-Fi movies, with his favorite movie being Star 
                    Wars: A New Hope. Though he likes almost all sciences, he is especially passionate about 
                    Biology and Medical Sciences, and hopes to become a surgeon someday.</p>
            </div>
        </div>
        <div class="image-block">
            <img src="./img/bowen.png" alt="Bowen Cheng">
            <div class="block-text">
                <div class="introduction">
                    <span class="name">Bowen Cheng</span>
                    <span class="title">Team Manager / Co-Founder</span>
                </div>
                <p class="description">Bowen Cheng is currently the team manager for Logia. Along with ironing 
                    out all the wrinkles and bumps Logia encounters, he also writes and provides content for Logia. 
                    He always tries to do the best he can at anything he does, so rest assured he’s putting 100% 
                    of his energy into Logia. Besides working for Logia, Bowen enjoys attending math competitions and
                    playing the violin.</p>
            </div>
        </div>
        <div class="image-block">
            <img src="./img/lucas.jpg" alt="Lucas Wang">
            <div class="block-text">
                <div class="introduction">
                    <span class="name">Lucas Wang</span>
                    <span class="title">Lead Website Developer</span>
                </div>
                <p class="description">During his middle school years, Lucas already knew he wanted to pursue a 
                    career in Computer Science, but realized that he had never actually placed much effort to 
                    working towards this goal. He is fascinated with creating visual representations and software 
                    with the use of technology. Being around people with similar interests, he always puts his 
                    best foot forward to extensively learn the basics of multiple programming languages, such as 
                    Python and C++. Competitiveness helped him grow in order to find a way to continue working 
                    towards his goals.</p>
            </div>
        </div>
        <div class="small-spacer"></div>
        <script src="./js/about.js" async defer></script>
        <script src="./js/general.js" async defer></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/jquery.waypoints.min.js" async defer></script>
        <div id="footer"></div>
    </body>
</html>