<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Logia - Admin</title>
        <meta name="description" content="Logia is a platform dedicated to
        connecting teens passionate about science to professionals in a variety of different science related fields.
        Our goal is to not only help educate teens on a variety of different advanced topics, but to also assist
        them in networking with professors, doctors, scientists, and more from prestigious institutions.">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="./css/general.css">
        <link rel="stylesheet" href="./css/admin.css">
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        {{>subheader}}
        <div class="text-block">
            <div id="post-actions">
                <div class="action" style="background-color: orange;" onclick="$('#create-event').show(450)">
                    <h3>Create Event</h3>
                </div>
                <div class="action" style="background-color: rgb(255, 81, 0);" onclick="$('#delete-event').show(450)">
                    <h3>Delete Event</h3>
                </div>
            </div>
        </div>
        <div id="create-event">
            <div id="screen-cover"></div>
            <div class="contents">
                <input class="name" type="text" placeholder="Name (10+ characters)">
                <input class="date" type="datetime-local">
                <input class="thumbnail" type="text" placeholder="Thumbnail Image Link">
                <input class="joinLink" type="text" placeholder="Zoom Meeting Link">
                <textarea class="description" rows="8" placeholder="Description (150+ characters)"></textarea>
                <input class="memberCap" type="number" placeholder="Webinar Member Limit (1+)">
                <button id="submit-event">Create Event</button>
                <button style="background-color: rgb(223, 74, 74); margin-top: 0;" onclick="$('#create-event').hide(350)">Cancel</button>
            </div>
        </div>
        <div id="delete-event">
            <div id="screen-cover"></div>
            <div class="contents">
                <input class="name" type="text" placeholder="Name (Case Insensitive)">
                <button id="remove-event">Delete Event</button>
                <button style="background-color: rgb(223, 74, 74); margin-top: 0;" onclick="$('#delete-event').hide(350)">Cancel</button>
            </div>
        </div>
        <div class="small-spacer"></div>
        <script src="./js/general.js" async defer></script>
        <script src="./js/admin.js" async defer></script>
        <div id="footer"></div>
    </body>
</html>