<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Logia - Events</title>
        <meta name="description" content="Logia is a platform dedicated to
        connecting teens passionate about science to professionals in a variety of different science related fields.
        Our goal is to not only help educate teens on a variety of different advanced topics, but to also assist
        them in networking with professors, doctors, scientists, and more from prestigious institutions.">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="./css/general.css">
        <link rel="stylesheet" href="./css/events.css">
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        {{>subheader}}
        <div class="text-block">
            <div id="event-container">
                <p>Contacting the database for scheduled events...</p>
                <p>If this text persists for longer than 10 seconds, there is something wrong on the server side.</p>
            </div>
        </div>
        <div class="small-spacer"></div>
        <script src="./js/events.js" async defer></script>
        <script src="./js/general.js" async defer></script>
        <div id="footer"></div>
        <div id="screen-cover"></div>
        <div id="info">
            <p class="name"></p>
            <p class="full-description"></p>
            <div class="buttons">
                <button id="join-zoom" style="background: rgb(31, 108, 223);">Join Zoom Meeting</button>
                <button style="background: rgb(224, 36, 36);" onclick="$('#screen-cover').fadeOut(250); $(this).parents('#info').fadeOut(250)">Close</button>
            </div>
        </div>
    </body>
</html>