<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Logia - Homepage</title>
        <meta name="description" content="Logia is a platform dedicated to
        connecting teens passionate about science to professionals in a variety of different science related fields.
        Our goal is to not only help educate teens on a variety of different advanced topics, but to also assist
        them in networking with professors, doctors, scientists, and more from prestigious institutions.">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="./css/general.css">
        <link rel="stylesheet" href="./css/homepage.css">
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        {{>header}}
        <div class="text-block">
            <h2 style="font-family: adobe-garamond-pro;">Providing the public with live, accessible scientific lectures.</h2>
            <p style="font-family: adobe-garamond-pro;">Founded in late July of 2020, Logia is a platform dedicated to
                connecting teens passionate about science to professionals in a variety of different science related fields.
                Our goal is to not only help educate teens on a variety of different advanced topics, but to also assist
                them in networking with professors, doctors, scientists, and more from prestigious institutions. If you’re
                interested in joining a meeting, check out our events and sign up using the registration links attached!</p>
        </div>
        <div class="small-spacer"></div>
        <script src="./js/homepage.js" async defer></script>
        <script src="./js/general.js" async defer></script>
        <div id="footer"></div>
    </body>
</html>