/* 
    .name, .date, .description, .thumbnail
*/

.event {
    height: 300px;
    background: rgb(226, 226, 226);
    margin: 38px 40px;
    padding: 25px 2vw;
    display: flex;
    flex-direction: row;
}

.event > .text {
    display: flex;
    flex-direction: column;
    margin: 8px 16px;
    flex: 3;
}

.event .date-text {
    text-align: center;
    font-family: proxima-nova-light;
    margin-top: 4px 0;
    font-size: 19px;
    color: black;
}

.name {
    font-size: 30px;
    text-align: center;
}

.event .description {
    font-family: proxima-nova-light;
    width: 100%;
    margin: auto 24px;
    font-size: 18px;
    padding-bottom: 0.8rem;
}

.event .thumbnail {
    width: 200px;
    object-fit: cover;
    justify-self: center;
    flex: 1;
}

.centered {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.event button:hover {
    opacity: 0.8;
}

.event button {
    width: 200px;
    margin: 0 10px;
    text-align: center;
}

#info, #rsvp {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    padding: 24px;
    display: none;
    z-index: 11;
}

#info *, #rsvp * {
    width: 400px;
    margin: 0 auto;
}

#rsvp input {
    font-size: 17px;
    padding: 0.4em;
}

.user-email {
    margin-right: 1em !important;
}

#info .full-description {
    font-family: proxima-nova-light;
    text-align: center;
    font-size: 19px;
    margin-top: 1.2rem;
    margin-bottom: 1.4rem;
}

#info .centered {
    display: flex;
    flex-direction: column;
}

#info button, #rsvp button {
    text-align: center;
    flex: 1;
}

.text-block {
    padding: 64px 128px;
}

@media only screen and (max-width: 1200px) {
    .event button {
        width: 140px;
    }
}

@media only screen and (max-width: 1000px) {
    .event {
        margin: 48px 0;
        flex-direction: column;
        align-items: center;
        height: auto;
    }
    .text-block {
        align-items: center;
    }
    .event .thumbnail {
        width: 100%;
        max-width: 400px;
        max-height: 400px;
        margin-bottom: 22px;
    }
    .event .description {
        max-width: 400px;
        align-self: center;
        margin: 18px 0;
    }
}

@media only screen and (max-width: 750px) {
    .event .thumbnail {
        max-width: 300px;
        max-height: 300px;
    }
}

@media only screen and (max-width: 450px) {
    #info *, #rsvp * {
        width: 280px;
    }
    .event {
        padding: 25px;
    }
    .event .text {
        margin: 0;
    }
    .event .description {
        font-size: 17px;
    }
    .event .thumbnail {
        max-width: 250px;
        max-height: 250px;
    }
    .event button {
        font-size: 12px;
        width: 110px;
    }
}