@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap');

@font-face {
    font-family: "proxima-nova";
    font-weight: 700;
    src: url("../fonts/proxima-nova.otf");
}

@font-face {
    font-family: "adobe-garamond-pro";
    font-weight: 400;
    src: url("../fonts/garamond-pro.otf");
}

@font-face {
    font-family: "proxima-nova-light";
    font-weight: 400;
    src: url("../fonts/proxima-nova-light.otf");
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: proxima-nova, sans-serif;
}

html {
    overflow-x: hidden;
}

button {
    font-size: 14px;
    letter-spacing: 2px;
    font-weight: 600;
    color: white;
    background: rgb(9, 175, 73);
    padding: 0.9em 2.5em;
    border: none;
    border-radius: 3px;
    transition: opacity 0.2s ease;
}

button:hover {
    opacity: 0.9;
    cursor: pointer;
}

button:focus {
    outline: none;
}

a {
    font-size: 15px;
    letter-spacing: 2px;
    font-weight: 600;
    color: rgb(224, 224, 224);
    text-decoration: none;
}

a:hover {
    color: rgb(57, 223, 120);
}

#header {
    display: flex;
    position: relative;
    width: 100vw;
    height: 70vh;
    background-image: url("/img/homepage-bg.jpg");
    background-size: cover;
}

#overlay {
    position: absolute;
    left: 0;
    top: 0;
    background: black;
    display: block;
    width: 100vw;
    height: 70vh;
    z-index: 3;
    pointer-events: none;
}

#header::after {
    display: block;
    content: " ";
    height: 70vh;
    width: 100vw;
    background: radial-gradient(rgba(0, 0, 0, 0.2) 60%, rgba(0, 0, 0, 0.9));
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
}

#middle-contents {
    width: 100%;
    text-align: center;
    align-self: center;
    color: white;
    z-index: 2;
    position: relative;
}

#middle-contents > h1 {
    text-transform: uppercase;
    position: absolute;
    left: 50%;
    font-weight: 700;
    font-style: normal;
    font-size: 64px;
    line-height: 1.05em;
    letter-spacing: 0.059em;
    transform: translate(-50%, -50%);
}

.logo {
    position: absolute;
    width: 80px;
    height: 80px;
    top: 24px;
    left: 24px;
    z-index: 2;
}

.logo:hover {
    cursor: pointer;
}

#navbar {
    text-transform: uppercase;
    position: absolute;
    top: 60px;
    right: 0;
    z-index: 2;
    margin-right: 2.2em;
}

#navbar > a {
    margin: 0 1.2em;
}

.text-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 250px;
    padding: 96px 128px;
}

.text-block * {
    text-align: center;
}

.text-block > h2 {
    font-weight: 400;
    font-size: 38px;
    letter-spacing: 0.6px;
    margin-bottom: 0.4em;
}

.text-block p {
    font-size: 22px;
    line-height: 1.25em;
    font-family: adobe-garamond-pro;
    color: rgba(65, 65, 65, 0.9);
}

.small-spacer {
    min-height: 50px;
}

#footer {
    position: relative;
    width: 100vw;
    height: 70px;
    background: rgb(41, 41, 41);
}

#footer::after {
    display: block;
    position: absolute;
    content: "The Science Network | © 2020";
    transform: translate(-2em, -50%);
    color: white;
    font-weight: 700;
    font-size: 20px;
    letter-spacing: 0.8px;
    top: 50%;
    right: 0;
}

@media only screen and (max-width: 812px) {
    #middle-contents > h1 {
        font-size: 50px !important;
    }
    #middle-contents > h1, #middle-contents > button {
        margin-top: 2vh !important;
    }
    #footer::after {
        transform: translate(-2em, -50%);
        font-size: 16px;
    }
    .text-block {
        padding: 48px;
    }
    #navbar {
        margin-right: 1.2em;
        top: 47px;
    }
    #navbar > a {
        margin: 0 0.6em;
    }
    .logo {
        top: 16px;
        left: 16px;
    }
}