#header {
    display: flex;
    position: relative;
    width: 100vw;
    height: 90vh;
    background-image: url("/img/homepage-bg.jpg");
    background-size: cover;
}

#overlay {
    position: absolute;
    left: 0;
    top: 0;
    background: black;
    display: block;
    width: 100vw;
    height: 90vh;
    z-index: 3;
}

#header::after {
    display: block;
    content: " ";
    height: 90vh;
    width: 100vw;
    background: radial-gradient(rgba(0, 0, 0, 0.2) 60%, rgba(0, 0, 0, 0.8));
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
}

#middle-contents > h1 {
    transform: translate(-50%, -65%);
}

#middle-contents > button {
    text-transform: uppercase;
    position: absolute;
    left: 50%;
    top: 100%;
    transform: translate(-50%, 180%);
}